
{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/home-bg.png')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h3>Tasty Food at Your Door Step</h3>
          <span class="subheading">Savor affordable, flavorful meals. Diverse menu, quality ingredients, prompt service. Your favorite dishes, conveniently delivered to you.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
      <!-- Post preview-->
      <div class="row">
          <div class="col-3 mb-3" style="align-content:end; " >
              <img src="https://media.istockphoto.com/id/1190330112/photo/fried-pork-and-vegetables-on-white-background.jpg?s=612x612&w=0&k=20&c=TzvLLGGvPAmxhKJ6fz91UGek-zLNNCh4iq7MVWLnFwo=" style="width: 100%;object-position: bottom;"/>
          </div>
          <div class="col-5 ">
              <div class="mt-5 fw-bold fs-3">Veg Thali</div>
              <div class="mt-2 fs-4">$ 120</div>
          </div>
          <div class="col-4 ">
              <div class="mt-5 ">
                  <div  style="">
                        <a class="btn btn-danger btn-sm">-</a>
                        <span style="margin: 15px">1</span>
                        <a class="btn btn-danger btn-sm">+</a>
                  </div>
              </div>
              <div>
                  <div class="mt-3 fs-4">$ 240</div>
              </div>
          </div>
      </div>
      <!-- Pager-->

  </div>
</div>

{% include "footer.html" %}
